<template>
  <a-layout id="components-layout-demo-top" class="layout">
    <a-layout>
      <a-layout-header class="title">iCalendar</a-layout-header>
    </a-layout>
    <a-layout-header class="header">
      <a-menu
        class="nav"
        theme="white"
        mode="horizontal"
        :default-selected-keys="['']"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="1">
          <NuxtLink to="/profile"> Profile </NuxtLink></a-menu-item
        >
        <a-menu-item key="2">
          <NuxtLink to="/schedule"> Calendar </NuxtLink></a-menu-item
        >
        <a-menu-item key="3" @click="$auth.logout()"> Logout </a-menu-item>
      </a-menu>
    </a-layout-header>
  </a-layout>
</template>

<style>
.nav {
  display: flex;
  justify-content: center;
}
.header {
  background-color: white;
}
.title {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
</style>
