<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="wrapper">
        <a-form-model
          :model="form"
          :label-col="labelCol"
          :wrapper-col="wrapperCol"
        >
          <a-form-model-item label="Title">
            <a-input v-model="title" />
          </a-form-model-item>
          <a-form-model-item label="Start date">
            <a-date-picker
              v-model="startDate"
              show-time
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
            />
          </a-form-model-item>
          <a-form-model-item label="End date">
            <a-date-picker
              v-model="endDate"
              show-time
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
            />
          </a-form-model-item>
          <a-form-model-item label="Description">
            <a-input v-model="description" type="textarea" />
          </a-form-model-item>
          <div class="button">
            <a-form-model-item>
              <a-button type="primary"> Request Schedule </a-button>
            </a-form-model-item>
          </div>
          <div class="divider">
            <hr />
          </div>
          <!--Created Schedule -->
          <div class="modal">
            <a-button type="primary" @click="showModal">
              View Schedules
            </a-button>
            <a-modal
              v-model="visible"
              title="Schedules"
              @ok="handleOk"
              id="content"
            >
              <p>These are your schedules</p>

              <a-table :columns="columns" :data-source="payload">
                <a slot="name" slot-scope="text"
                  >{{ text }}
                  <span slot="customTitle"> Title</span>
                  <span slot="tags"> </span>
                  <span slot="action">
                    <a-divider type="vertical" />
                    <a-button @click="deleteSchedule(text.id)">Delete</a-button>
                    <a-divider type="vertical" />
                    <a class="ant-dropdown-link">
                      More actions <a-icon type="down" />
                    </a>
                  </span>
                </a>
              </a-table>
            </a-modal>
          </div>
        </a-form-model>
      </div>
    </div>

    <a-layout-footer style="background-color: white"></a-layout-footer>s
  </div>
</template>

<style scoped>
.container {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
}
.modal {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 600px;
}
</style>

<script>
import moment from "moment";

const columns = [
  {
    title: "Title",
    dataIndex: "title",
    key: "Title",
  },
  {
    title: "Start Date",
    dataIndex: "startDate",
    key: "startDate",
  },
  {
    title: "End Date",
    dataIndex: "endDate",
    key: "endDate",
  },
  {
    title: "Description",
    key: "description",
    dataIndex: "description",
  },
  {
    title: "Action",
    key: "action",
    scopedSlots: { customRender: "action" },
  },
];

export default {
  data() {
    return {
      visible: false,
      payload: [],
      columns,
      title: "",
      description: "",
      startDate: "",
      endDate: "",
      id: "",
    };
  },

  methods: {
    deleteSchedule(id) {
      this.$axios
        .delete(`/schedules/${id}`)
        .then(() => {
          this.fetchSchedule();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    fetchSchedule() {
      this.$axios
        .get("/schedules")
        .then((response) => {
          this.payload = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    showModal() {
      this.visible = true;
    },
    handleOk(e) {
      console.log(e);
      this.visible = false;
    },

    mounted() {
      // assuming you receive the payload data in a variable called 'data'
      this.payload = data;
    },
  },
  async created() {
    await this.fetchSchedule();
  },
};
</script>
