<template>
  <div id="components-form-demo-vuex">
    <div class="container">
      <a-form :form="form" @submit="handleSubmit" class="login-form">
        <h1>Forgot Password</h1>
        <p>
          Please provide a valid email. We will send a link to reset your
          password
        </p>
        <a-form-item v-bind="formItemLayout" label="E-mail">
          <a-input
            v-decorator="[
              'email',
              {
                rules: [
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    required: true,
                    message: 'Please input your E-mail!',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-button type="primary" html-type="submit"> Submit </a-button>
        <br />
        <br />
        <br />
        <div>
          <a><NuxtLink to="/login">Go back to login</NuxtLink> </a>
        </div>
      </a-form>
    </div>
  </div>
</template>
<style>
#components-form-demo-vuex .language-bash {
  max-width: 400px;
  border-radius: 6px;
  margin-top: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://localhost:3000/background.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-form {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
</style>

<script>
export default {
  computed: {
    email() {
      return this.$store.state.email;
    },
  },
  watch: {
    email(val) {
      console.log("this.$store.state.email: ", val);
      this.form.setFieldsValue({ email: val });
    },
  },
  created() {
    this.form = this.$form.createForm(this, {
      onFieldsChange: (_, changedFields) => {
        this.$emit("change", changedFields);
      },
      mapPropsToFields: () => {
        return {
          email: this.$form.createFormField({
            value: this.email,
          }),
        };
      },
      onValuesChange: (_, values) => {
        console.log(values);
        // Synchronize to vuex store in real time
        // this.$store.commit('update', values)
      },
    });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log("Received values of form: ", values);
          this.$store.commit("update", values);
        }
      });
    },
  },
};
</script>
