<template>
  <div>
    <a-layout-header><h1 id="title">My Calendar</h1> </a-layout-header>
    <div class="container">
      <a-form
        id="components-form-demo-normal-login"
        :form="form"
        class="login-form"
        @submit="handleSubmit"
      >
        <a-form-item>
          <a-input
            placeholder="username"
            v-decorator="[
              'username',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please enter your username',
                  },
                ],
              },
            ]"
          />
          <a-icon
            slot="prefix"
            type="user"
            style="color: rgba(0, 0, 0, 0.25)"
          />
        </a-form-item>
        <a-form-item>
          <a-input-password
            placeholder="Password"
            v-decorator="[
              'password',
              {
                rules: [
                  { required: true, message: 'Please enter your password' },
                ],
              },
            ]"
          />
          <a-icon
            slot="prefix"
            type="lock"
            style="color: rgba(0, 0, 0, 0.25)"
          />
        </a-form-item>
        <a-form-item>
          <a-button type="primary" html-type="submit" class="login-form-button">
            Log in
          </a-button>
        </a-form-item>
        <a><NuxtLink to="/register">Professor Register</NuxtLink> </a>
        <a><NuxtLink to="/student">Student Register </NuxtLink> </a>
        <br />
        <br />
        <a><NuxtLink to="/forgot">Forgot Password</NuxtLink> </a>
      </a-form>
    </div>
    <a-layout-footer></a-layout-footer>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://localhost:3000/background.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.login {
  display: flex;
  justify-content: center;
}
#signup {
  display: flex;
  justify-content: center;
}
.register {
  margin-top: 20px;
}
a {
  margin: 5px;
}
.ant-layout-footer {
  background-color: black;
}
.ant-layout-header {
  background-color: black;
}
#title {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>
<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: "normal_login" });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          this.username = this.form.getFieldValue("username");
          this.password = this.form.getFieldValue("password");

          this.$auth
            .loginWith("local", {
              data: { username: this.username, password: this.password },
            })

            .then(() => {
              if (this.$auth.loggedIn) {
                this.$router.push("/profile");
              }
            })
            .catch((error) => {
              // Handle login error
              console.error(error);
              // Show error message to user
              this.$message.error(
                "Login failed. Please check your credentials."
              );
            });
        }
      });
    },
  },
};
</script>
