<template>
  <div>
    <Navbar />
    <div>
      <div class="avatar">
        <a-upload
          name="avatar"
          list-type="picture-card"
          class="avatar-uploader"
          :show-upload-list="false"
          action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          :before-upload="beforeUpload"
          @change="handleChange"
        >
          <img v-if="imageUrl" :src="imageUrl" alt="avatar" />
          <div v-else>
            <a-icon :type="loading ? 'loading' : 'plus'" />
            <div class="ant-upload-text">Upload</div>
          </div>
        </a-upload>
      </div>
      <div class="row-container">
        <form action="">
          <div class="row">
            <a-row type="flex" id="row">
              <a-col :span="6"
                ><h3>First Name</h3>
                <input type="text" v-model="profile.firstname"
              /></a-col>

              <a-col :span="6"
                ><h3>Last Name</h3>
                <input type="text" v-model="profile.lastname"
              /></a-col>
            </a-row>
          </div>

          <div class="row">
            <a-row type="flex" id="row">
              <a-col :span="6"
                ><h3>Username</h3>
                <input type="text" v-model="profile.username" />
              </a-col>
              <a-col :span="6">
                <h3>Student ID</h3>
                <input type="text" v-model="profile.studentId" />
              </a-col>

              <!-- <a-col :span="6">
                <h3>Password</h3>
                <input type="password" />
              </a-col> -->
            </a-row>
          </div>
        </form>
        <div class="submit"></div>
        <a-form-model-item>
          <div class="update">
            <a-button type="primary" @click="showModal"> Update </a-button>
            <a-modal
              v-model="visible"
              title="Update Profile"
              @ok="updateProfile"
            >
              <a-input placeholder="First Name" v-model="profile.firstname" />
              <a-input placeholder="Last Name" v-model="profile.lastname" />
              <a-input placeholder="Username" v-model="profile.username" />
              <a-input placeholder="Student ID" v-model="profile.studentId" />
            </a-modal>
          </div>
        </a-form-model-item>
      </div>
    </div>
  </div>
</template>

<style>
* {
  list-style: none;
}
.avatar {
  margin-top: 20px;
}
.avatar-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-container {
  margin-top: 10px;
}
.row {
  display: flex;
  justify-content: center;
  background-color: lightgray;

  height: 100px;
}
#row {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-left: 120px;
}
.form {
}
input {
  width: 250px;
  border: none;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 14px;
}
</style>

<script>
function getBase64(img, callback) {
  const reader = new FileReader();
  reader.addEventListener("load", () => callback(reader.result));
  reader.readAsDataURL(img);
}
export default {
  data() {
    return {
      loading: false,
      imageUrl: "",
      visible: false,
      profile: {
        username: this.$auth.user.username,
        firstname: this.$auth.user.firstname,
        lastname: this.$auth.user.lastname,
        studentId: this.$auth.user.studentId,
      },
    };
  },
  methods: {
    async updateProfile() {
      try {
        await this.$axios.put(`/profile/${this.$auth.user.id}`, {
          username: this.profile.username,
          firstname: this.profile.firstname,
          lastname: this.profile.lastname,
          studentId: this.profile.studentId,
        });
        this.$message.success("Profile Updated");
        this.visible = false;
      } catch (e) {
        this.error = e.response.data.message;
      }
    },

    fetchProduct() {
      this.$axios
        .get(`/profile/profile/${this.userId}`)
        .then((response) => {
          this.profile = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    async fetch() {
      await this.fetchProduct();
    },

    handleChange(info) {
      if (info.file.status === "uploading") {
        this.loading = true;
        return;
      }
      if (info.file.status === "done") {
        // Get this url from response in real world.
        getBase64(info.file.originFileObj, (imageUrl) => {
          this.imageUrl = imageUrl;
          this.loading = false;
        });
      }
    },
    beforeUpload(file) {
      const isJpgOrPng =
        file.type === "image/jpeg" || file.type === "image/png";
      if (!isJpgOrPng) {
        this.$message.error("You can only upload JPG file!");
      }
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("Image must smaller than 2MB!");
      }
      return isJpgOrPng && isLt2M;
    },
    showModal() {
      this.visible = true;
    },
    handleOk(e) {
      console.log(e);
      this.visible = false;
    },
  },
  async created() {
    await this.fetchProduct();
  },
};
</script>
<style scoped>
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.submit {
  margin-top: 10px;
  justify-content: center;
  display: flex;
}
.update {
  margin-top: 10px;
  justify-content: center;
  display: flex;
}
.update input {
  padding: 5px;
  margin: 10px 0;
}
#submit {
  width: 100px;
}
</style>
