<template>
  <a-form :form="form" @submit.prevent="register" class="form">
    <div class="container">
      <div class="content">
        <a-card title="Professor Register" style="width: 450px">
          <a-form-item label="Email">
            <a-input
              v-decorator="[
                'email',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please enter your email',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item label="Username">
            <a-input
              v-decorator="[
                'username',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please enter your username',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item label="Password">
            <a-input-password
              v-decorator="[
                'password',
                {
                  rules: [
                    { required: true, message: 'Please enter your password' },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item label="Firstname">
            <a-input
              v-decorator="[
                'firstname',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please enter your firstname',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item label="Lastname">
            <a-input
              v-decorator="[
                'lastname',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please enter your lastname',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item label="Student ID">
            <a-input
              v-decorator="[
                'studentId',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please enter your studentId',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>

          <a-form-item>
            <a-button type="primary" html-type="submit">Register</a-button>
          </a-form-item>

          <NuxtLink to="/login" id="signup">Back to Login</NuxtLink>
        </a-card>
      </div>
    </div>
  </a-form>
</template>
<style scoped>
h1 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  height: 500px;
}
.container {
  margin: auto;
  border: 1px solid black;
  height: 850px;
  width: 500px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.container h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
form {
  background-image: url("http://localhost:3000/ust.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  display: flex;
  justify-content: center;
  padding: 0;
}
#signup {
  float: right;
  margin-right: 10px;
}
</style>

<script>
export default {
  data() {
    return {
      form: this.$form.createForm(this),
      confirmPassword: "",
    };
  },
  methods: {
    async register() {
      try {
        const values = await this.form.validateFields();
        const response = await this.$axios.post("/auth/register", values);
        console.log(response.data);
        // Redirect to login page
        this.$router.push("/login");
      } catch (error) {
        console.error(error);
        // Show error message to user
      }
    },
    validateConfirmPassword(rule, value, callback) {
      if (value && value !== this.form.getFieldValue("password")) {
        callback("Passwords do not match");
      } else {
        callback();
      }
    },
  },
};
</script>
