<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="wrapper">
        <a-form-model
          :model="form"
          :label-col="labelCol"
          :wrapper-col="wrapperCol"
        >
          <a-form-model-item label="Title">
            <a-input v-model="title" />
          </a-form-model-item>
          <a-form-model-item label="Start date">
            <a-date-picker
              v-model="startDate"
              show-time
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
            />
          </a-form-model-item>
          <a-form-model-item label="End date">
            <a-date-picker
              v-model="endDate"
              show-time
              type="date"
              placeholder="Pick a date"
              style="width: 100%"
            />
          </a-form-model-item>
          <a-form-model-item label="Description">
            <a-input v-model="description" type="textarea" />
          </a-form-model-item>
          <div class="button">
            <a-form-model-item>
              <a-button type="primary" @click="createSchedule">
                Create
              </a-button>
            </a-form-model-item>
          </div>
          <div class="divider">
            <hr />
          </div>
          <!--Created Schedule -->

          <a-table :columns="columns" :data-source="payload">
            <a slot="name" slot-scope="text, record"
              >{{ text }}
              <span slot="customTitle"> Title</span>
              <span slot="tags"> </span>
              <span slot="action">
                <a-divider type="vertical" />
                <a-divider type="vertical" />
                <a-button @click="deleteSchedule(record.id)">Delete</a-button>
              </span>
            </a>
          </a-table>
        </a-form-model>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

const columns = [
  {
    title: "Title",
    dataIndex: "title",
    key: "Title",
  },
  {
    title: "Start Date",
    dataIndex: "startDate",
    key: "startDate",
  },
  {
    title: "End Date",
    dataIndex: "endDate",
    key: "endDate",
  },
  {
    title: "Description",
    key: "description",
    dataIndex: "description",
  },
  {
    title: "Action",
    key: "action",
    scopedSlots: { customRender: "action" },
  },
];

export default {
  data() {
    return {
      payload: [],
      columns,
      title: "",
      description: "",
      startDate: "",
      endDate: "",
      id: "",
    };
  },

  methods: {
    async createSchedule() {
      try {
        await this.$axios.post("/schedule", {
          title: this.title,
          description: this.description,
          startDate: this.startDate,
          endDate: this.endDate,
        });
        alert("Created a Schedule");
      } catch (e) {
        this.error = e.response.data.message;
      }
    },
    deleteSchedule(id) {
      this.$axios
        .delete(`/schedules/${id}`)
        .then(() => {
          this.fetchSchedule();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    fetchSchedule() {
      this.$axios
        .get("/schedules")
        .then((response) => {
          this.payload = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },

    mounted() {
      // assuming you receive the payload data in a variable called 'data'
      this.payload = data;
    },
  },
  async created() {
    await this.fetchSchedule();
  },
};
</script>
<style scoped>
.container {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
}
</style>
